services:
  db:
    image: postgres:17
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: "EiliyaZanganeh"
      POSTGRES_PASSWORD: "1234"
      POSTGRES_DB: "server_db"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U EiliyaZanganeh -d server_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  django:
    container_name: server
    build:
      context: ./
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:5000
    volumes:
      - .:/app
    ports:
      - "8000:5000"
    environment:
      DEBUG: "True"
      ALLOWED_HOSTS: "localhost,127.0.0.1"
      DB_NAME: "server_db"
      DB_USER: "EiliyaZanganeh"
      DB_PASSWORD: "1234"
      DB_HOST: "db"
      DB_PORT: "5432"
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "python", "-c", "import django; django.setup(); from django.db import connection; connection.ensure_connection()"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: